@model web.Models.Ucitelj

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ucitelj</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priimek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priimek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumRojstva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumRojstva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrnaPostavka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrnaPostavka)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UciteljID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
