@model IEnumerable<web.Models.Skupina>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProgaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ucitelj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bazen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ucitelj.UciteljID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bazen.BazenID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SkupinaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SkupinaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SkupinaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
