@model web.Models.Kalkulator;
@using ChartJSCore.Models;

@{
    ViewData["Title"] = "Calculate";
    Chart pieChart = (Chart)ViewData["PieChart"];
    Chart horizontalBarChart = (Chart)ViewData["HorizontalBarChart"];
    Chart lineChart = (Chart)ViewData["LineChart"];
}


<form asp-action="Index">
    <div class="form-group" style="text-align: center;">
        <input type="submit" value="Ponovni izračun" class="btn btn-primary" />
    </div>
</form>

<div class="row">
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Strošek goriva v enem letu (€)</h5>
            <canvas id="horizontalBarChart"></canvas>
        </div>
        <div class="card-body">
            <h5 class="card-title">Strošek izbranega goriva: @(Model.izbranEnergentIme) (€)</h5>
            <canvas id="lineChart"></canvas>
        </div>
    </div>
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Investicija @((int)Model.investicija) (€) </h5>
            <canvas id="pieChart"></canvas>
        </div>
    </div>
</div>

@section Scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
    integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
    integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js"
    integrity="sha512-klQv6lz2YR+MecyFYMFRuU2eAl8IPRo6zHnsc9n142TJuJHS8CG0ix4Oq9na9ceeg1u5EkBfZsFcV3U7J51iew=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="~/lib/Chart.js/dist/Chart.js"></script>
<script type="text/javascript">
    @Html.Raw(horizontalBarChart.CreateChartCode("horizontalBarChart"));
</script>
<script type="text/javascript">
    @Html.Raw(pieChart.CreateChartCode("pieChart"));
</script>
<script type="text/javascript">
    @Html.Raw(lineChart.CreateChartCode("lineChart"));
</script>
}